@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("../src/assets/bg-quiz.png");
  background-size: cover;
  /* Full screen */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
}

button,
select {
  cursor: pointer;
}
